.container{
  position: relative;
  background-color: black;
}
.container::before{
  content: '';
}
img{
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  filter: opacity(70%);
}