@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  position: fixed;
  top: 0;
  padding-block: 10px;
  box-shadow: 0 1px 5px #00000032;
  margin: none;
  width: 100vw;
}
.logo{
  display: flex;
  gap: 7px;
  align-items: center;
}